{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B2B Test | {{ title }}</title>

    <link href="{% static "lib/bootstrap-3.3.7-dist/css/bootstrap.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "core/css/style.css" %}" type="text/css" rel="stylesheet">
    {% block css %}
    {% endblock css %}
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">B2B Test</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for label, url, is_active in menu %}
                    <li class="{{ is_active }}"><a href="{{ url }}">{{ label }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <ul class="list-group">
        {% for message in messages %}
            <li class="list-group-item">{{ message }}</li>
        {% endfor %}
    </ul>

    {% block container %}
    {% endblock container %}
</div>

{% block js %}
    <script href="{% static "lib/bootstrap-3.3.7-dist/js/bootstrap.js" %}"></script>
{% endblock js %}

</body>
</html>