{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block container %}
    <div class="row">
        <div class="col-md-7">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=RT0OayqVw0PbInfxScIxEByfj0-KkHir&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
        </div>
        <div class="col-md-5">
            <form method="POST" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="text-right">
                    <button type="submit" class="btn btn-info ">Отправить</button>
                </div>

            </form>
        </div>
    </div>

{% endblock container %}

{% block js %}
    {{ block.super }}

{% endblock js %}