{% extends 'core/base.html' %}
{% load static %}

{% block container %}
    <div class="index-text">
    <h3>Любой текст</h3>
    {% lorem %}
    </div>
    <div class="row">
        <div class="col-md-4"><img src="{% static "core/img/left.png" %}" width="100%"></div>
        <div class="col-md-4"><img src="{% static "core/img/center.png" %}" width="100%"></div>
        <div class="col-md-4"><img src="{% static "core/img/right.png" %}" width="100%"></div>
    </div>
{% endblock container %}