{% extends 'core/base.html' %}

{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ object.title }} ({{ object.cost }}р)</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    {% for image in object.images.all %}
                        {% if forloop.counter == 1 %}
                            <p>
                                <a href="{{ image.image.url }}">
                                    <img src="{{ image.image.url }}" width="100%">
                                </a>
                            </p>
                        {% else %}
                            <a href="{{ image.image.url }}">
                                <img src="{{ image.image.url }}" width="30">
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-10">
                    <p>Тип: {{ object.type }}</p>
                    <p>Имеется на складе: {{ object.in_stock|yesno:'Да,Нет' }}</p>
                    {{ object.description }}
                </div>
            </div>

        </div>
    </div>
{% endblock container %}