{% extends 'core/base.html' %}

{% block container %}
    {% for product in object_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{% url 'product' product.id %}">{{ product.title }}</a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">

                        <img src="{{ product.images.first.image.url }}" width="100%">
                    </div>
                    <div class="col-md-10">
                        {{ product.description|truncatechars:200 }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock container %}